<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	
  <title>CleanSpeech</title>
  
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
</head>



<body>
<!-- Navigation for all pages -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">CleanSpeech</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <!-- Jessica: I added links to user forms so that we can see how they work. I realize we may not want a sign out link - feel free to remove. Not sure what 'users' is supposed to link to. -Emily -->
        
        <li class="active"><a href="/users">Users</a></li>
        <li class="active"><%= link_to "Sign in", new_user_session_path %></li>
        <li class="active"><%= link_to "Sign up", new_user_registration_path %></li>
        <li class="active"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
